F:
cd AutomatedTrading
python main.py
stream add VDE TQQQ SPXL UCO MARA SOXL FNGU UVXY LABU GUSH JNUG VXX ARKK BA ETSY
add TQQQ 20 renko_sa 4
add SOXL 5 renko_tsfh 35        
add FNGU 15 renko_smi 3 5
add UCO 15 renko_wcsmi_vs 25 2
add SPXL 20 renko_wcsmi_vs 35 2
add GUSH 20 renko_bah
start
opt TQQQ stopAtPercentLoss 1
opt SOXL stopAtPercentLoss 1
opt FNGU stopAtPercentLoss 2
status
