20 RENKO_CaV 10
25 RENKO_CaV 10
15 RENKO_CAV 10
10 RENKO_CAV 10
5 RENKO_CAV 10
3 RENKO_CAV 10
20 RENKO_CaV 9
25 RENKO_CaV 9
15 RENKO_CAV 9
10 RENKO_CAV 9
5 RENKO_CAV 9
3 RENKO_CAV 9
25 renko_bah
20 renko_bah
10 renko_bah 
5 renko_bah
3 renko_bah
25 renko_sa 2
20 renko_sa 2
15 renko_sa 2
10 renko_sa 2
5 renko_sa 2
3 renko_sa 2
25 renko_vbs 1 1
20 renko_vbs 1 1
15 renko_vbs 1 1
10 renko_vbs 1 1
5 renko_vbs 1 1
3 renko_vbs 1 1
25 renko_vbs 1 2
20 renko_vbs 1 2
15 renko_vbs 1 2
10 renko_vbs 1 2
5 renko_vbs 1 2
3 renko_vbs 1 2
25 renko_vbs 2 2
20 renko_vbs 2 2
15 renko_vbs 2 2
10 renko_vbs 2 2
5 renko_vbs 2 2
3 renko_vbs 2 2
25 renko_bah_sa 2
20 renko_bah_sa 2
15 renko_bah_sa 2
10 renko_bah_sa 2
5 renko_bah_sa 2
3 renko_bah_sa 2
25 renko_bah_sa 3
20 renko_bah_sa 3
15 renko_bah_sa 3
10 renko_bah_sa 3
5 renko_bah_sa 3
3 renko_bah_sa 3
25 renko_bah_sa 4
20 renko_bah_sa 4
15 renko_bah_sa 4
10 renko_bah_sa 4
5 renko_bah_sa 4
3 renko_bah_sa 4
25 renko_bah_sa 5
20 renko_bah_sa 5
15 renko_bah_sa 5
10 renko_bah_sa 5
5 renko_bah_sa 5
3 renko_bah_sa 5
25 renko_con_sa 9 2
20 renko_con_sa 9 2
15 renko_con_sa 9 2
10 renko_con_sa 9 2
5 renko_con_sa 9 2
3 renko_con_sa 9 2
25 renko_con_sa 9 3
20 renko_con_sa 9 3
15 renko_con_sa 9 3
10 renko_con_sa 9 3
5 renko_con_sa 9 3
3 renko_con_sa 9 3
25 renko_con_sa 9 4
20 renko_con_sa 9 4
15 renko_con_sa 9 4
10 renko_con_sa 9 4
5 renko_con_sa 9 4
3 renko_con_sa 9 4
25 renko_con_sa 9 5
20 renko_con_sa 9 5
15 renko_con_sa 9 5
10 renko_con_sa 9 5
5 renko_con_sa 9 5
3 renko_con_sa 9 5
25 renko_con_sa 10 2
20 renko_con_sa 10 2
15 renko_con_sa 10 2
10 renko_con_sa 10 2
5 renko_con_sa 10 2
3 renko_con_sa 10 2
25 renko_con_sa 10 3
20 renko_con_sa 10 3
15 renko_con_sa 10 3
10 renko_con_sa 10 3
5 renko_con_sa 10 3
3 renko_con_sa 10 3
25 renko_con_sa 10 4
20 renko_con_sa 10 4
15 renko_con_sa 10 4
10 renko_con_sa 10 4
5 renko_con_sa 10 4
3 renko_con_sa 10 4
25 renko_con_sa 10 5
20 renko_con_sa 10 5
15 renko_con_sa 10 5
10 renko_con_sa 10 5
5 renko_con_sa 10 5
3 renko_con_sa 10 5
25 renko_con_vs 9 1
20 renko_con_vs 9 1
15 renko_con_vs 9 1
10 renko_con_vs 9 1
5 renko_con_vs 9 1
3 renko_con_vs 9 1
25 renko_con_vs 9 2
20 renko_con_vs 9 2
15 renko_con_vs 9 2
10 renko_con_vs 9 2
5 renko_con_vs 9 2
3 renko_con_vs 9 2
25 renko_con_vs 9 3
20 renko_con_vs 9 3
15 renko_con_vs 9 3
10 renko_con_vs 9 3
5 renko_con_vs 9 3
3 renko_con_vs 9 3
25 renko_con_vs 10 1
20 renko_con_vs 10 1
15 renko_con_vs 10 1
10 renko_con_vs 10 1
5 renko_con_vs 10 1
3 renko_con_vs 10 1
25 renko_con_vs 10 2
20 renko_con_vs 10 2
15 renko_con_vs 10 2
10 renko_con_vs 10 2
5 renko_con_vs 10 2
3 renko_con_vs 10 2
25 renko_con_vs 10 3
20 renko_con_vs 10 3
15 renko_con_vs 10 3
10 renko_con_vs 10 3
5 renko_con_vs 10 3
3 renko_con_vs 10 3