20 RENKO_CaV 10
25 RENKO_CaV 10
15 RENKO_CAV 10
10 RENKO_CAV 10
5 RENKO_CAV 10
3 RENKO_CAV 10
20 RENKO_CaV 9
25 RENKO_CaV 9
15 RENKO_CAV 9
10 RENKO_CAV 9
5 RENKO_CAV 9
3 RENKO_CAV 9
25 renko_bah
20 renko_bah
10 renko_bah 
5 renko_bah
3 renko_bah
25 renko_sa 2
20 renko_sa 2
15 renko_sa 2
10 renko_sa 2
5 renko_sa 2
3 renko_sa 2
25 renko_sa 3
20 renko_sa 3
15 renko_sa 3
10 renko_sa 3
5 renko_sa 3
3 renko_sa 3
25 renko_sa 4
20 renko_sa 4
15 renko_sa 4
10 renko_sa 4
5 renko_sa 4
3 renko_sa 4
25 renko_sa 5
20 renko_sa 5
15 renko_sa 5
10 renko_sa 5
5 renko_sa 5
25 renko_vbs 1 1
20 renko_vbs 1 1
15 renko_vbs 1 1
10 renko_vbs 1 1
5 renko_vbs 1 1
3 renko_vbs 1 1
25 renko_vbs 1 2
20 renko_vbs 1 2
15 renko_vbs 1 2
10 renko_vbs 1 2
5 renko_vbs 1 2
3 renko_vbs 1 2
25 renko_vbs 2 2
20 renko_vbs 2 2
15 renko_vbs 2 2
10 renko_vbs 2 2
5 renko_vbs 2 2
3 renko_vbs 2 2
25 renko_bah_sa 2
20 renko_bah_sa 2
15 renko_bah_sa 2
10 renko_bah_sa 2
5 renko_bah_sa 2
3 renko_bah_sa 2
25 renko_bah_sa 3
20 renko_bah_sa 3
15 renko_bah_sa 3
10 renko_bah_sa 3
5 renko_bah_sa 3
3 renko_bah_sa 3
25 renko_bah_sa 4
20 renko_bah_sa 4
15 renko_bah_sa 4
10 renko_bah_sa 4
5 renko_bah_sa 4
3 renko_bah_sa 4
25 renko_bah_sa 5
20 renko_bah_sa 5
15 renko_bah_sa 5
10 renko_bah_sa 5
5 renko_bah_sa 5
3 renko_bah_sa 5
25 renko_con_sa 9 2
20 renko_con_sa 9 2
15 renko_con_sa 9 2
10 renko_con_sa 9 2
5 renko_con_sa 9 2
3 renko_con_sa 9 2
25 renko_con_sa 9 3
20 renko_con_sa 9 3
15 renko_con_sa 9 3
10 renko_con_sa 9 3
5 renko_con_sa 9 3
3 renko_con_sa 9 3
25 renko_con_sa 9 4
20 renko_con_sa 9 4
15 renko_con_sa 9 4
10 renko_con_sa 9 4
5 renko_con_sa 9 4
3 renko_con_sa 9 4
25 renko_con_sa 9 5
20 renko_con_sa 9 5
15 renko_con_sa 9 5
10 renko_con_sa 9 5
5 renko_con_sa 9 5
3 renko_con_sa 9 5
25 renko_con_sa 10 2
20 renko_con_sa 10 2
15 renko_con_sa 10 2
10 renko_con_sa 10 2
5 renko_con_sa 10 2
3 renko_con_sa 10 2
25 renko_con_sa 10 3
20 renko_con_sa 10 3
15 renko_con_sa 10 3
10 renko_con_sa 10 3
5 renko_con_sa 10 3
3 renko_con_sa 10 3
25 renko_con_sa 10 4
20 renko_con_sa 10 4
15 renko_con_sa 10 4
10 renko_con_sa 10 4
5 renko_con_sa 10 4
3 renko_con_sa 10 4
25 renko_con_sa 10 5
20 renko_con_sa 10 5
15 renko_con_sa 10 5
10 renko_con_sa 10 5
5 renko_con_sa 10 5
3 renko_con_sa 10 5
25 renko_con_vs 9 1
20 renko_con_vs 9 1
15 renko_con_vs 9 1
10 renko_con_vs 9 1
5 renko_con_vs 9 1
3 renko_con_vs 9 1
25 renko_con_vs 9 2
20 renko_con_vs 9 2
15 renko_con_vs 9 2
10 renko_con_vs 9 2
5 renko_con_vs 9 2
3 renko_con_vs 9 2
25 renko_con_vs 9 3
20 renko_con_vs 9 3
15 renko_con_vs 9 3
10 renko_con_vs 9 3
5 renko_con_vs 9 3
3 renko_con_vs 9 3
25 renko_con_vs 10 1
20 renko_con_vs 10 1
15 renko_con_vs 10 1
10 renko_con_vs 10 1
5 renko_con_vs 10 1
3 renko_con_vs 10 1
25 renko_con_vs 10 2
20 renko_con_vs 10 2
15 renko_con_vs 10 2
10 renko_con_vs 10 2
5 renko_con_vs 10 2
3 renko_con_vs 10 2
25 renko_con_vs 10 3
20 renko_con_vs 10 3
15 renko_con_vs 10 3
10 renko_con_vs 10 3
5 renko_con_vs 10 3
3 renko_con_vs 10 3
20 RENKO_WC_VS 30 3
20 RENKO_WC_VS 35 3
15 RENKO_WC_VS 25 3
15 RENKO_WC_VS 30 3
15 RENKO_WC_VS 35 3
10 RENKO_WC_VS 20 3
10 RENKO_WC_VS 25 3
10 RENKO_WC_VS 30 3
5 RENKO_WC_VS 10 3
5 RENKO_WC_VS 15 3
5 RENKO_WC_VS 20 3
5 RENKO_WC_VS 25 3
20 RENKO_WC_VS 30 2
20 RENKO_WC_VS 35 2
15 RENKO_WC_VS 25 2
15 RENKO_WC_VS 30 2
15 RENKO_WC_VS 35 2
10 RENKO_WC_VS 20 2
10 RENKO_WC_VS 25 2
10 RENKO_WC_VS 30 2
5 RENKO_WC_VS 10 2
5 RENKO_WC_VS 15 2
5 RENKO_WC_VS 20 2
5 RENKO_WC_VS 25 2
20 RENKO_WC_VS 30 1
20 RENKO_WC_VS 35 1
15 RENKO_WC_VS 25 1
15 RENKO_WC_VS 30 1
15 RENKO_WC_VS 35 1
10 RENKO_WC_VS 20 1
10 RENKO_WC_VS 25 1
10 RENKO_WC_VS 30 1
5 RENKO_WC_VS 10 1
5 RENKO_WC_VS 15 1
5 RENKO_WC_VS 20 1
5 RENKO_WC_VS 25 1
20 RENKO_WCSMI_VS 30 3
20 RENKO_WCSMI_VS 35 3
15 RENKO_WCSMI_VS 25 3
15 RENKO_WCSMI_VS 30 3
15 RENKO_WCSMI_VS 35 3
10 RENKO_WCSMI_VS 20 3
10 RENKO_WCSMI_VS 25 3
10 RENKO_WCSMI_VS 30 3
5 RENKO_WCSMI_VS 10 3
5 RENKO_WCSMI_VS 15 3
5 RENKO_WCSMI_VS 20 3
5 RENKO_WCSMI_VS 25 3
20 RENKO_WCSMI_VS 30 2
20 RENKO_WCSMI_VS 35 2
15 RENKO_WCSMI_VS 25 2
15 RENKO_WCSMI_VS 30 2
15 RENKO_WCSMI_VS 35 2
10 RENKO_WCSMI_VS 20 2
10 RENKO_WCSMI_VS 25 2
10 RENKO_WCSMI_VS 30 2
5 RENKO_WCSMI_VS 10 2
5 RENKO_WCSMI_VS 15 2
5 RENKO_WCSMI_VS 20 2
5 RENKO_WCSMI_VS 25 2
20 RENKO_WCSMI_VS 30 1
20 RENKO_WCSMI_VS 35 1
15 RENKO_WCSMI_VS 25 1
15 RENKO_WCSMI_VS 30 1
15 RENKO_WCSMI_VS 35 1
10 RENKO_WCSMI_VS 20 1
10 RENKO_WCSMI_VS 25 1
10 RENKO_WCSMI_VS 30 1
5 RENKO_WCSMI_VS 10 1
5 RENKO_WCSMI_VS 15 1
5 RENKO_WCSMI_VS 20 1
5 RENKO_WCSMI_VS 25 1
25 renko_hl 0
20 renko_hl 0
15 renko_hl 0
10 renko_hl 0
5 renko_hl 0
25 renko_hl 1
20 renko_hl 1
15 renko_hl 1
10 renko_hl 1
5 renko_hl 1
25 renko_smi 3 5
20 renko_smi 3 5
15 renko_smi 3 5
10 renko_smi 3 5
5 renko_smi 3 5
30 range_smi 3 5
25 range_smi 3 5
20 range_smi 3 5
15 range_smi 3 5
10 range_smi 3 5
5 range_smi 3 5
25 bbmr_mas 20
20 bbmr_mas 20
15 bbmr_mas 20
10 bbmr_mas 20
5 bbmr_mas 20
25 bbmr_mas 15
20 bbmr_mas 15
15 bbmr_mas 15
10 bbmr_mas 15
5 bbmr_mas 15
25 bbmr_mas 25
20 bbmr_mas 25
15 bbmr_mas 25
10 bbmr_mas 25
5 bbmr_mas 25
25 bbmr_mas 30
20 bbmr_mas 30
15 bbmr_mas 30
10 bbmr_mas 30
5 bbmr_mas 30
25 bbmr_mas 35
20 bbmr_mas 35
15 bbmr_mas 35
10 bbmr_mas 35
5 bbmr_mas 35
30 bbr_v32w
25 bbr_v32w
20 bbr_v32w
15 bbr_v32w
10 bbr_v32w
5 bbr_v32w
35 cpat
30 cpat
25 cpat
20 cpat
15 cpat
10 cpat
5 cpat
3 cpat
35 pat
30 pat
25 pat
20 pat
15 pat
10 pat
5 pat
35 cpat_smag_lnb 25
30 cpat_smag_lnb 25
25 cpat_smag_lnb 25
20 cpat_smag_lnb 25
15 cpat_smag_lnb 25
10 cpat_smag_lnb 25
5 cpat_smag_lnb 25
35 pat_smag_lnb 25
30 pat_smag_lnb 25
25 pat_smag_lnb 25
20 pat_smag_lnb 25
15 pat_smag_lnb 25
10 pat_smag_lnb 25
5 pat_smag_lnb 25
35 cpat_smag_lnb 35
30 cpat_smag_lnb 35
25 cpat_smag_lnb 35
20 cpat_smag_lnb 35
15 cpat_smag_lnb 35
10 cpat_smag_lnb 35
5 cpat_smag_lnb 35
35 pat_smag_lnb 35
30 pat_smag_lnb 35
25 pat_smag_lnb 35
20 pat_smag_lnb 35
15 pat_smag_lnb 35
10 pat_smag_lnb 35
5 pat_smag_lnb 35
35 cpat_smag_lnb 40
30 cpat_smag_lnb 40
25 cpat_smag_lnb 40
20 cpat_smag_lnb 40
15 cpat_smag_lnb 40
10 cpat_smag_lnb 40
5 cpat_smag_lnb 40
35 pat_smag_lnb 40
30 pat_smag_lnb 40
25 pat_smag_lnb 40
20 pat_smag_lnb 40
15 pat_smag_lnb 40
10 pat_smag_lnb 40
5 pat_smag_lnb 40
35 cpat_smag_lnb 45
30 cpat_smag_lnb 45
25 cpat_smag_lnb 45
20 cpat_smag_lnb 45
15 cpat_smag_lnb 45
10 cpat_smag_lnb 45
5 cpat_smag_lnb 45
35 pat_smag_lnb 45
30 pat_smag_lnb 45
25 pat_smag_lnb 45
20 pat_smag_lnb 45
15 pat_smag_lnb 45
10 pat_smag_lnb 45
5 pat_smag_lnb 45
35 cpat_smag_lnb 50
30 cpat_smag_lnb 50
25 cpat_smag_lnb 50
20 cpat_smag_lnb 50
15 cpat_smag_lnb 50
10 cpat_smag_lnb 50
5 cpat_smag_lnb 50
35 pat_smag_lnb 50
30 pat_smag_lnb 50
25 pat_smag_lnb 50
20 pat_smag_lnb 50
15 pat_smag_lnb 50
10 pat_smag_lnb 50
5 pat_smag_lnb 50
35 range_cav 9
30 range_cav 9
25 range_cav 9
20 range_cav 9
15 range_cav 9
10 range_cav 9
5 range_cav 9
35 range_cav 10
30 range_cav 10
25 range_cav 10
20 range_cav 10
15 range_cav 10
10 range_cav 10
5 range_cav 10
35 range_cav 15
30 range_cav 15
25 range_cav 15
20 range_cav 15
15 range_cav 15
10 range_cav 15
5 range_cav 15